<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <!--
    stylesheets
    -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>


<div align="center">
    <div class='container' align="left">
        <pre>

       .__               .__                .__
  _____|__| _____ ______ |  | ___.__._____  |  |   ____   ____
 /  ___/  |/     \\____ \|  |<   |  |\__  \ |  | _/ __ \_/ ___\
 \___ \|  |  Y Y  \  |_> >  |_\___  | / __ \|  |_\  ___/\  \___
/____  >__|__|_|  /   __/|____/ ____|(____  /____/\___  >\___  >
     \/         \/|__|        \/          \/          \/     \/

        </pre>
        {{{body}}}
    </div>
</div>
</body>
</html>
